@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import "tailwindcss";

@theme {
  --color-gray-400: hsl(0, 0%, 58%);
  --color-gray-900: hsl(0, 0%, 17%);

  --font-rubik: "Rubik", sans-serif;
}
